@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #121212;
  color: rgb(234, 232, 222);
  -webkit-font-smoothing: antialiased;
  min-width: 350px;
}

ul,
li {
  margin: revert;
  padding: revert;
}

li {
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: underline;
}

.btn {
  padding: 12px 20px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  letter-spacing: -0.05px;
  outline: none;
  border: none;
  appearance: none;
  cursor: pointer;
  border-radius: 10px;
  background: #f09819;
  color: white;
  transition: 0.2s ease-in-out;
  text-decoration: none;
}

.btn:hover,
.btn:active {
  transform: scale(1.05);
}

.container {
  display: flex;
  min-height: 100vh;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  max-width: 1500px;
  padding: 50px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
}

header img {
  display: block;
  width: 100%;
}

header .brand {
  display: block;
  width: 200px;
}

header .btn-discord {
  display: flex;
  font-size: 1rem;
  background: #5865f2;
}

header .btn-discord img {
  width: 20px;
  margin-right: 10px;
}

/* Homepage */

.homepage h1.main-title {
  font-size: 6rem;
  line-height: 7rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
  padding: 50px 0 100px 0;
  background: #ff512f;
  background: -webkit-linear-gradient(to top, #ff512f, #f09819);
  background: linear-gradient(to top, #ff512f, #f09819);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.homepage .scripts-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.homepage .script {
  transition: 0.2s ease-in-out;
}
.homepage .script:hover {
  transform: scale(1.05);
}

.homepage .script img {
  display: block;
  width: 100%;
  border-radius: 20px;
  background: grey;
  border: 3px solid #ff512f;
}

/* Script Page */

.script-page h1.script-name {
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
  padding: 0 0 75px 0;
}

.script-page .advanced-garages .gradient-text,
.script-page .advanced-garages .script-version {
  background: #ff512f;
  background: -webkit-linear-gradient(to top, #ff512f, #f09819);
  background: linear-gradient(to top, #ff512f, #f09819);
}

.script-page .pro-scoreboard .gradient-text,
.script-page .pro-scoreboard .script-version {
  background: #8e9eab;
  background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);
  background: linear-gradient(to bottom, #eef2f3, #8e9eab);
}

.script-page .script-name .gradient-text {
  vertical-align: middle;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.script-page h1.script-name .script-version {
  vertical-align: middle;
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 5px 15px;
  border-radius: 10px;
  letter-spacing: 0;
  color: #121212;
}

.script-page .split-view {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.script-page .slider {
  width: 100%;
  height: 50vw;
  max-height: 700px;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.script-page .slider .slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
}

.script-page .slider .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.script-page .slider button {
  position: absolute;
  width: 60px;
  height: 60px;
  padding-bottom: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.65);
  font-size: 4rem;
  line-height: 0;
  font-weight: normal;
  color: #999;
  backdrop-filter: blur(2px);
  transition: 0.2s;
}
.script-page .slider .btn:active {
  transform: scale(1.1);
}
.script-page .slider .btn-prev {
  top: calc(50% - 30px);
  left: 2%;
}
.script-page .slider .btn-next {
  top: calc(50% - 30px);
  right: 2%;
}

.script-page .script-description {
  text-align: left;
  line-height: 2.4rem;
  font-size: 1.4rem;
  color: #ccc;
}

.script-page .script-actions {
  display: flex;
  margin-bottom: 50px;
}
.script-page .script-actions .btn {
  margin-right: 20px;
}

.script-page .btn.btn-tebex {
  display: flex;
  align-items: center;
  background: #164494;
}
.script-page .btn.btn-youtube {
  background: #eb4d4b;
}
.script-page .btn.btn-tebex img {
  height: 13px;
  margin-left: 10px;
}
.script-page .btn.btn-youtube img {
  height: 15px;
  margin-right: 10px;
}

/* Footer */

footer {
  margin-top: auto;
  color: #999;
  padding-top: 50px;
}

/* Mobile */

@media screen and (max-width: 1000px) {
  li {
    margin-bottom: 5px;
  }

  .hide-mobile {
    display: none;
  }

  .btn {
    font-size: 1.25rem;
  }

  .container {
    padding: 17.5px;
  }

  header {
    margin-bottom: 50px;
  }

  header .brand {
    width: 150px;
  }

  .homepage h1.main-title,
  .script-page h1.script-name {
    font-size: 3.5rem;
    line-height: 4rem;
    padding: 0 0 50px 0;
  }

  .homepage .scripts-grid,
  .script-page .split-view {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .script-page .slider {
  }

  .script-page .slider button {
    width: 50px;
    height: 50px;
    font-size: 3rem;
  }

  .script-page .script-actions {
    margin-bottom: 30px;
  }

  .script-page .btn.btn-tebex {
    flex-direction: column;
  }

  .script-page .script-description {
    text-align: left;
    line-height: 1.8rem;
    font-size: 1.15rem;
  }
}
